.idea
.DS_Store
.vagrant
vendor
composer.phar
composer.lock
/taurus/tests/fixtures/jsonResults/verify.json
fitnessmanager/config/prod/
fitnessmanager/db/QueryStringBuilderClassHierarchy.gliffy
fitnessmanager/db/workout-manager-db-schema.gliffy
taurus/framework/http/HttpPostRequest.php
taurus/tests/mock/
/web/node_modules
/vendor/
/scm/
