<div class="row mt-3">
    <div class="col">
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th>Exercise Group</th>
                <th>Name</th>
                <th>Difficulty</th>
                <th>Variant-Name</th>
                <th>Workout Location</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let exercise of exercises"
                (click)="onSelectExercise(exercise, formContent)" [class.table-info]="exercise === selectedExercise"
                data-toggle="modal" data-target="#myModal">
                <td>{{ exercise.exerciseGroup.name }}</td>
                <td>{{ exercise.name }}</td>
                <td>{{ exercise.difficulty }}</td>
                <td>{{ exercise.variantName }}</td>
                <td>{{ exercise.workoutLocation.name }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-10">
        <ng-template #formContent let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Update Exercise</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross Click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <exercise-form [inlineForm]="true" [exercise]="selectedExercise"></exercise-form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close
                </button>
            </div>
        </ng-template>
    </div>
</div>